<h1>Create a new User</h1>
<form method="POST" action="/users"> 
    First Name: <input type="text" name="firstName" required>
    Last Name: <input type="text" name="lastName" required>
    Age: <input type="number" name="age">
    Email: <input type="email" name="email" required>
    <input type="submit">
</form>